---
import Layout from "../layouts/Layout.astro";
import IconAngle from "../svgs/IconAngle.astro";
import IconArrow from "../svgs/IconArrow.astro";
import IconClose from "../svgs/IconClose.astro";
import IconHamburger from "../svgs/IconHamburger.astro";
import Logo from "../svgs/Logo.astro";
---

<Layout title="Frontend Mentor | Room homepage">
  <header>
    <div class="relative z-0 mx-auto max-w-screen-2xl">
      <div
        class="absolute inset-x-0 top-0 z-10 flex items-center px-6 py-10 sm:bg-transparent sm:px-14 sm:py-14"
        id="primary-nav-wrapper"
      >
        <button
          id="primary-nav-toggle"
          aria-expanded="false"
          aria-controls="primary-nav"
          class="absolute bottom-0 left-6 top-0 z-0 sm:hidden"
        >
          <IconHamburger
            class="text-my-neutral-100"
            id="primary-nav-toggle-icon-hamburger"
          />
          <IconClose
            class="hidden text-my-neutral-300"
            id="primary-nav-toggle-icon-close"
          />
          <span class="sr-only">Menu</span>
        </button>

        <div class="mx-auto sm:mx-0" id="primary-nav-logo">
          <Logo class="text-my-neutral-100" />
          <span class="sr-only">Room</span>
        </div>

        <nav class="ml-auto hidden gap-9 sm:ml-14 sm:flex" id="primary-nav">
          <a
            href="#"
            class="font-semibold lowercase leading-none tracking-tighter text-my-neutral-900 sm:text-my-neutral-100"
            >Home</a
          >
          <a
            href="#"
            class="font-semibold lowercase leading-none tracking-tighter text-my-neutral-900 sm:text-my-neutral-100"
            >Shop</a
          >
          <a
            href="#"
            class="font-semibold lowercase leading-none tracking-tighter text-my-neutral-900 sm:text-my-neutral-100"
            >About</a
          >
          <a
            href="#"
            class="font-semibold lowercase leading-none tracking-tighter text-my-neutral-900 sm:text-my-neutral-100"
            >Contact</a
          >
        </nav>
      </div>
    </div>
  </header>
</Layout>

<main>
  <section>
    <h1 class="sr-only">Room features</h1>
    <article>
      <div>
        <picture>
          <source srcset="" />
          <img
            src="images/mobile/hero-1.webp"
            width="375"
            height="360"
            alt=""
            class="h-full w-full object-cover"
          />
        </picture>
      </div>
      <div class="relative z-0 px-8 pt-12">
        <h2 class="text-4xl font-semibold tracking-tighter">
          Discover innovative ways to decorate
        </h2>
        <p
          class="mt-3 font-medium leading-snug tracking-tight text-my-neutral-300"
        >
          We provide unmatched quality, comfort, and style for property owners
          across the country. Our experts combine form and function in bringing
          your vision to life. Create a room in your own style with our
          collection and make your property a reflection of you and what you
          love.
        </p>
        <a
          href="#"
          class="mb-16 mt-10 inline-flex items-center gap-4 text-sm font-medium uppercase leading-none tracking-[0.75em] hover:text-my-neutral-300"
          >Shop now <IconArrow /></a
        >

        <div class="absolute right-0 top-0 z-10 flex -translate-y-full">
          <button
            class="grid place-items-center bg-my-neutral-900 p-5 hover:bg-my-neutral-600"
          >
            <IconAngle class="h-4 w-4 rotate-180 text-my-neutral-100" />
          </button>
          <button
            class="grid place-items-center bg-my-neutral-900 p-5 hover:bg-my-neutral-600"
          >
            <IconAngle class="h-4 w-4 text-my-neutral-100" />
          </button>
        </div>
      </div>
    </article>
  </section>
  <section>
    <div>
      <picture>
        <img src="images/about-dark.webp" alt="" width="420" height="266" />
      </picture>
    </div>
    <div class="px-8">
      <h1 class="pt-11 text-sm font-bold uppercase tracking-[0.4em]">
        About our furniture
      </h1>
      <p
        class="mb-10 mt-3 font-medium leading-snug tracking-tight text-my-neutral-300"
      >
        Our multifunctional collection blends design and function to suit your
        individual taste. Make each room unique, or pick a cohesive theme that
        best express your interests and what inspires you. Find the furniture
        pieces you need, from traditional to contemporary styles or anything in
        between. Product specialists are available to help you create your dream
        space.
      </p>
    </div>
    <div>
      <picture>
        <img src="images/about-light.webp" alt="" width="420" height="266" />
      </picture>
    </div>
  </section>
</main>

<footer></footer>

<div>
  We are available all across the globe With stores all over the world, it's
  easy for you to find furniture for your home or place of business. Locally,
  we're in most major cities throughout the country. Find the branch nearest you
  using our store locator. Any questions? Don't hesitate to contact us today.
  Shop now Manufactured with the best materials Our modern furniture store
  provide a high level of quality. Our company has invested in advanced
  technology to ensure that every product is made as perfect and as consistent
  as possible. With three decades of experience in this industry, we understand
  what customers want for their home and office. Shop now About our furniture

  <p>
    Challenge by
    <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
      >Frontend Mentor.
    </a>
    Coded by <a href="#" class="text-sm lowercase"
      >Pedro Alonso Moreno Salcedo</a
    >.
  </p>
</div>

<script>
  function getElementByIdOrFail(id: string) {
    const element = document.getElementById(id);

    if (element !== null) {
      return element;
    }

    throw new Error(`ERROR: could not find element with id ${id}`);
  }

  const primaryNavWrapper = getElementByIdOrFail("primary-nav-wrapper");
  const primaryNavToggle = getElementByIdOrFail("primary-nav-toggle");
  const primaryNavToggleIconHamburger = getElementByIdOrFail(
    "primary-nav-toggle-icon-hamburger"
  );
  const primaryNavToggleIconClose = getElementByIdOrFail(
    "primary-nav-toggle-icon-close"
  );
  const primaryNavLogo = getElementByIdOrFail("primary-nav-logo");
  const primaryNav = getElementByIdOrFail("primary-nav");

  let isNavOpen = false;
  primaryNavToggle.addEventListener("click", () => {
    isNavOpen = !isNavOpen;

    primaryNavToggle.setAttribute("aria-expanded", String(isNavOpen));

    primaryNavToggleIconHamburger.classList.toggle("hidden");
    primaryNavToggleIconClose.classList.toggle("hidden");

    primaryNavLogo.classList.toggle("hidden");

    primaryNav.classList.toggle("hidden");
    primaryNav.classList.toggle("flex");

    primaryNavWrapper.classList.toggle("bg-my-neutral-100");

    isNavOpen = true;
  });
</script>
