---
import Layout from "../layouts/Layout.astro";
import IconAngle from "../svgs/IconAngle.astro";
import IconArrow from "../svgs/IconArrow.astro";
import IconClose from "../svgs/IconClose.astro";
import IconHamburger from "../svgs/IconHamburger.astro";
import Logo from "../svgs/Logo.astro";
---

<Layout title="Frontend Mentor | Room homepage">
  <header>
    <div class="relative z-10 mx-auto max-w-screen-2xl">
      <div
        class="absolute inset-x-0 top-0 z-0 flex items-center px-6 py-10 md:bg-transparent md:px-14 md:py-14"
        id="primary-nav-wrapper"
      >
        <button
          id="primary-nav-toggle"
          aria-expanded="false"
          aria-controls="primary-nav"
          class="absolute bottom-0 left-6 top-0 z-0 md:hidden"
        >
          <IconHamburger
            class="text-my-neutral-100"
            id="primary-nav-toggle-icon-hamburger"
          />
          <IconClose
            class="hidden text-my-neutral-600"
            id="primary-nav-toggle-icon-close"
          />
          <span class="sr-only">Menu</span>
        </button>

        <div class="mx-auto md:mx-0 md:block" id="primary-nav-logo">
          <Logo class="text-my-neutral-100" />
          <span class="sr-only">Room</span>
        </div>

        <nav class="ml-auto hidden gap-9 md:ml-14 md:flex" id="primary-nav">
          <a
            href="#"
            class="font-semibold lowercase leading-none tracking-tighter text-my-neutral-900 md:text-my-neutral-100"
          >
            Home
          </a>
          <a
            href="#"
            class="font-semibold lowercase leading-none tracking-tighter text-my-neutral-900 md:text-my-neutral-100"
          >
            Shop
          </a>
          <a
            href="#"
            class="font-semibold lowercase leading-none tracking-tighter text-my-neutral-900 md:text-my-neutral-100"
          >
            About
          </a>
          <a
            href="#"
            class="font-semibold lowercase leading-none tracking-tighter text-my-neutral-900 md:text-my-neutral-100"
          >
            Contact
          </a>
        </nav>
      </div>
    </div>
  </header>
</Layout>

<main>
  <section>
    <div class="mx-auto max-w-screen-2xl">
      <h1 class="sr-only">Room features</h1>
      <article class="grid md:grid-cols-5">
        <div class="relative z-0 md:col-span-3">
          <picture
            class="z-0 md:absolute md:left-0 md:top-0 md:h-full md:w-full"
          >
            <source
              id="carrousel-item-picture-source"
              srcset="images/desktop/hero-1.jpg"
              type="image/jpeg"
              media="(min-width: 376px)"
            />
            <img
              id="carrousel-item-img"
              src="images/mobile/hero-1.jpg"
              width="375"
              height="360"
              alt=""
              class="h-full w-full object-cover object-top"
            />
          </picture>
        </div>
        <div
          class="relative z-0 px-8 pb-16 pt-12 md:col-span-2 lg:px-24 lg:pb-32 lg:pt-24"
        >
          <h2
            class="text-4xl font-semibold tracking-tighter lg:text-5xl lg:font-medium"
            id="carrousel-item-heading"
          >
            Discover innovative ways to decorate
          </h2>
          <p
            class="mt-3 font-medium leading-snug tracking-tight text-my-neutral-300 lg:mt-5"
            id="carrousel-item-paragraph"
          >
            We provide unmatched quality, comfort, and style for property owners
            across the country. Our experts combine form and function in
            bringing your vision to life. Create a room in your own style with
            our collection and make your property a reflection of you and what
            you love.
          </p>
          <a
            href="#"
            class="mt-10 inline-flex items-center gap-4 text-sm font-medium uppercase leading-none tracking-[0.75em] hover:text-my-neutral-300 lg:mt-6"
            >Shop now <IconArrow /></a
          >

          <div
            class="absolute right-0 top-0 z-10 flex -translate-y-full md:bottom-0 md:left-0 md:right-auto md:top-auto md:-translate-x-full md:translate-y-0 lg:translate-x-0"
          >
            <button
              id="carrousel-button-previous"
              class="grid place-items-center bg-my-neutral-900 p-5 hover:bg-my-neutral-600 lg:p-6"
            >
              <IconAngle
                class="h-4 w-4 rotate-180 text-my-neutral-100 lg:h-6 lg:w-6"
              />
            </button>
            <button
              id="carrousel-button-next"
              class="grid place-items-center bg-my-neutral-900 p-5 hover:bg-my-neutral-600 lg:p-6"
            >
              <IconAngle class="h-4 w-4 text-my-neutral-100 lg:h-6 lg:w-6" />
            </button>
          </div>
        </div>
      </article>
    </div>
  </section>
  <section>
    <div class="mx-auto max-w-screen-2xl">
      <div class="grid md:grid-cols-10">
        <div class="relative z-0 md:col-span-3">
          <img
            src="images/about-dark.jpg"
            alt=""
            width="420"
            height="266"
            class="top-0 z-0 h-full w-full object-cover object-right md:absolute md:left-0"
          />
        </div>
        <div class="px-8 pb-10 pt-11 md:col-span-4 lg:px-12 lg:pb-10 lg:pt-14">
          <h1 class="text-sm font-bold uppercase tracking-[0.4em] lg:text-base">
            About our furniture
          </h1>
          <p
            class="mt-3 font-medium leading-snug tracking-tight text-my-neutral-300"
          >
            Our multifunctional collection blends design and function to suit
            your individual taste. Make each room unique, or pick a cohesive
            theme that best express your interests and what inspires you. Find
            the furniture pieces you need, from traditional to contemporary
            styles or anything in between. Product specialists are available to
            help you create your dream space.
          </p>
        </div>
        <div class="relative z-0 md:col-span-3">
          <img
            src="images/about-light.jpg"
            alt=""
            width="420"
            height="266"
            class="h-full w-full object-cover object-center md:absolute md:left-0 md:top-0"
          />
        </div>
      </div>
    </div>
  </section>
</main>

<footer>
  <div class="mx-auto max-w-screen-2xl">
    <p class="my-6 px-8 text-center text-sm">
      Challenge by
      <a
        href="https://www.frontendmentor.io?ref=challenge"
        target="_blank"
        class="font-semibold hover:underline">Frontend Mentor</a
      >. Coded by <span class="text-my-neutral-300">
        Pedro Alonso Moreno Salcedo.</span
      >
    </p>
  </div>
</footer>

<script>
  function $(id: string) {
    const element = document.querySelector(`${id}`);

    if (element !== null) {
      return element;
    }

    throw new Error(`ERROR: could not find element with id ${id}`);
  }

  const primaryNav = {
    wrapper: $("#primary-nav-wrapper"),
    toggle: $("#primary-nav-toggle"),
    toggleIconHamburger: $("#primary-nav-toggle-icon-hamburger"),
    toggleIconClose: $("#primary-nav-toggle-icon-close"),
    logo: $("#primary-nav-logo"),
    nav: $("#primary-nav"),
  };

  let isNavOpen = false;
  primaryNav.toggle.addEventListener("click", () => {
    isNavOpen = !isNavOpen;

    primaryNav.toggle.setAttribute("aria-expanded", String(isNavOpen));

    primaryNav.toggleIconHamburger.classList.toggle("hidden");
    primaryNav.toggleIconClose.classList.toggle("hidden");

    primaryNav.logo.classList.toggle("hidden");

    primaryNav.nav.classList.toggle("hidden");
    primaryNav.nav.classList.toggle("flex");

    primaryNav.wrapper.classList.toggle("bg-my-neutral-100");

    isNavOpen = true;
  });

  // Carrousel logic

  const carrousel = {
    pictureSource: $("#carrousel-item-picture-source") as HTMLSourceElement,
    img: $("#carrousel-item-img") as HTMLImageElement,
    heading: $("#carrousel-item-heading"),
    paragraph: $("#carrousel-item-paragraph"),
    buttonNext: $("#carrousel-button-next"),
    buttonPrevious: $("#carrousel-button-previous"),
  };

  interface CarrouselItem {
    title: string;
    description: string;
    mobileImgSrc: string;
    desktopImgSrc: string;
  }

  const carrouselItems: CarrouselItem[] = [
    {
      title: carrousel.heading.textContent || "",
      description: carrousel.paragraph.textContent || "",
      mobileImgSrc: carrousel.img.src,
      desktopImgSrc: carrousel.pictureSource.srcset,
    },
    {
      title: "We are available all across the globe",
      description:
        "With stores all over the world, it's easy for you to find furniture for your home or place of business. Locally, we're in most major cities throughout the country. Find the branch nearest you using our store locator. Any questions? Don't hesitate to contact us today.",
      mobileImgSrc: "images/mobile/hero-2.jpg",
      desktopImgSrc: "images/desktop/hero-2.jpg",
    },
    {
      title: "Manufactured with the best materials",
      description:
        "Our modern furniture store provide a high level of quality.Our company has invested in advanced technology to ensure that every product is made as perfect and as consistent as possible. With three decades of experience in this industry, we understand what customers want for their home and office.",
      mobileImgSrc: "images/mobile/hero-3.jpg",
      desktopImgSrc: "images/desktop/hero-3.jpg",
    },
  ];

  function mod(n: number, m: number) {
    return ((n % m) + m) % m;
  }

  let i = 0;

  function updateCarrousel(increment: number) {
    i = mod(i + increment, carrouselItems.length);

    carrousel.pictureSource.srcset = carrouselItems[i]!.desktopImgSrc;
    carrousel.img.src = carrouselItems[i]!.mobileImgSrc;
    carrousel.heading.textContent = carrouselItems[i]!.title;
    carrousel.paragraph.textContent = carrouselItems[i]!.description;
  }

  carrousel.buttonNext.addEventListener("click", () => {
    updateCarrousel(1);
  });

  carrousel.buttonPrevious.addEventListener("click", () => {
    updateCarrousel(-1);
  });
</script>
